blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}


body { 
  max-width: 960px;
  margin: 0 auto;
}

.One {
  display: inline-block;
  padding: 10px;
}

#external-links {
  vertical-align: top
  width: 20%;
  position: relative;
}

main {
  vertical-align: top
  width: 80%;
  position: absolute;
  min-width: 300px;
}






/*
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
*/

@media screen and (max-width: 300px) {
  section {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  h1 {
    font-size: 120%;
  }
}


